.fixture-title{
    cursor: pointer;
}

.file-name {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.upload-row {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #e9f0ff;
    width: 20%;
}

.upload-content {
    display: flex;
    justify-content: center;
    align-items: center;

}
.delete-section{
    display: none;
}
.fixture-title:hover.delete-section {
    display: block;
}
/* Add this CSS to your existing styles or create a new CSS file */

.tournamnet-wrap form:hover img {
    display: none; /* Hide the image when the form is hovered */
}

.tournamnet-wrap form:hover::before {
    content: '\00d7'; /* Unicode for '✗' (delete icon) */
    font-size: 30px;
    color: #ff0000; /* Choose your desired color */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* Adjust the styles as needed for positioning, size, and color of the delete icon */

